.card {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cardTop {
  display: flex;
  gap: 5px;
}
.cardTitle {
  font-weight: normal;
}
.cardTopLabels {
  flex: 1;
  display: flex;
  gap: 10px;
}
.cardTop svg {
  opacity: 0;
  transition: 200ms;
}
.card:hover .cardTop svg {
  opacity: 1;
}
.cardTopMore {
  position: relative;
}
.cardDropDown {
  background-color: #fff;
  width: 130px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.5);
}
.cardDropDown p {
  cursor: pointer;
}
