.board {
  min-width: 300px;
  max-height: 100%;
}

.board_cards {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-bottom: 10px;
}
.board_top {
  display: flex;
}
.board_top_title {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: lightblue;
}

.board_top_title span {
  color: gray;
}
.board_top_more {
  position: relative;
  cursor: pointer;
}
.board_dropdown {
  background-color: #fff;
  width: 130px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.5);
}
.board_dropdown p {
  cursor: pointer;
}
.boards_cards_add {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: center;
  padding-top: 1px;
  gap: 30px;
}

.app {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
.navbar-brand {
  color: white;
}

.app_outer {
  flex: 1;
  width: 100%;
  overflow-x: auto;
  padding: 20px;
}

.app_boards {
  min-width: fit-content;
  display: flex;
  gap: 30px;
}
.app_boards_board {
  min-width: 290px;
  width: 290px;
}

.container-fluid {
  background-color: darkgrey;
  color: white;
  font: bold;
}

.form-control {
  background-color: lightgray;
  color: white;
}
.navbar {
  padding-left: 60px;
  background-color: darkgrey;
  color: white;
  font: bold;
}
.navbar-brand {
  font-weight: bold;
  color: white;
}
